html, body {
	background-color: #aaaaaa;
	text-align: center;
}

button {
	padding: 10px;
}

ol {
	list-style-position: inside;
}

#main {
	display: grid;
	grid-column: 1;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#main-inside {
	display: flex;
	text-align: center;
	border: 5px solid darkred;
	background-color: white;
	align-items: center;
	justify-content: center;
}

#word {
	color: black;
}

#wordLetter {
	color: darkred;
	text-decoration: underline;
}

.special {
	font-size: 2rem;
	border: 2px solid darkred;
	border-radius: 10px;
}
